* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  text-decoration: none;
  list-style-type: none;
}

img {
  height: 300px;
}

.cover {
  object-fit: cover;
}

nav {
  display: flex;
  height: 3vw;
  align-items: center;
  justify-content: space-around;
}

.home-nav {
  display: flex;
  justify-content: space-around;
  width: 30%;
}

.contact {
  display: flex;
  padding: 15px;
  align-items: center;
  justify-content: space-between;
  background-color: lightgreen;
  height: 1.5vw;
}

.burger div {
  width: 25px;
  height: 3px;
  background-color: rgb(226, 226, 226);
  margin: 5px;
}

@media (scan: interlace) {
  p {
    font-size: 29px;
  }
}

@media screen and (max-width: 1024px) {
  .home-nav {
    width: 60%;
  }
}

@media screen and (max-width: 768px) {
  .home-nav {
    position: absolute;
    right: 0px;
    height: 92vh;
    top: 8vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: lightblue;
  }
}

.joking {
  position: absolute;
}

.container {
  margin: 25px;
  border: 10px solid black;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.container > div {
  flex: 1;
}

.box-1 {
  height: 150px;
}

.d {
  overflow: auto;
}
.home-at {
  margin: 5px;
  float: left;
}

.peacemaker {
  width: 50%;
  margin: 1px;
  height: 60px;
  background-color: lightsalmon;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  font-size: 30px;
}
